<mat-card>
    <mat-card-header>
      <mat-card-title>Edit Account</mat-card-title>
      
    </mat-card-header>
  
    <mat-card-content>
      <!-- Add content for the card body here -->
      <div>
        
          <!--  <mat-form-field appearance="outline">
                <mat-label>Account Id</mat-label>
                <input matInput >
            </mat-form-field>-->
            <mat-form-field appearance="outline">
                <mat-label>Account Name</mat-label>
                <input matInput >
            </mat-form-field>
            <button mat-button >Submit</button>
      </div>
    </mat-card-content>
  
   
  </mat-card>