<mat-card>
    <mat-card-header>
      <mat-card-title>On Off Button</mat-card-title>
      
    </mat-card-header>
   <hr>
    <mat-card-content>
      <!-- Add content for the card body here -->
      <div>
        
            <mat-form-field appearance="outline">
                <mat-label>Display Name</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Virtual Pin</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">ADD</button>
            <hr>
            <button mat-button >Submit</button>
      </div>
    </mat-card-content>
    
   
  </mat-card>
