<mat-card class="card-width">
    <mat-card-header>
      <mat-card-title>Device Type</mat-card-title>
      
    </mat-card-header>
   <hr>
    <mat-card-content>
      <!-- Add content for the card body here -->
      <div>
          <div class="d-flex flex-column">
          <p class="name-label mx-3">Name</p>
          <input type="text" class="custom-input custom-input:focus mx-3 p-2" placeholder="Name" >
          <p class="name-label mx-3 my-1">Version</p>
          <input type="text" class="custom-input custom-input:focus mx-3 p-2" placeholder="Version" >
          </div>
          <div class="my-3">
          <input id="checkbox" type="checkbox" class="mx-3 check-size">
          <label for="checkbox" >Enabled</label>
         </div>
          <button class="submit-button mx-3" disabled>Submit</button>
      </div>
    </mat-card-content>
    
   
  </mat-card>
